html {
    scrollbar-gutter: stable;
}
:root {
	font-size: 0.9rem;
    margin-left: 0;
}

.table-vcenter > :not(caption) > * > *  {
	vertical-align: top !important;
}

hr {
  margin: 1rem 0;
}

.card-content {
    text-overflow: ellipsis;
    overflow:hidden;
}


body {
	min-height: 0px;
	height: auto;
    overflow-y: scroll;
}


#login_redirect {
    display: none;
}

#sidebar-menu .page-title {
	color: white;
	color: var(--tblr-navbar-brand-color);
	padding: 20px 10px 5px 8px
}


.loading {
	position: fixed;
	display: none;
    z-index:9999;
    top:0px;
    left:0px;
}

.dashboard.row > .col-sm-6,
.dashboard.row > .col-sm-12 {
    margin-bottom: 20px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 60px rgb(21, 31, 44) inset !important;
    background-color: rgb(21, 31, 44) !important;
    background-clip: content-box !important;
}

.table-md td{
    padding: 0.5rem;
}
.table-zones-details td,
.table-zones-details th {
    padding: 0.4rem 1rem;

}
.table-zones-details td {
    align-items: center;
    vertical-align: middle;
}
.table-zones-details tr.line td,
.table-zones-details tr.line th {
    border-top: 1px solid var(--tblr-card-border-color)
}

table.align-top td {
    vertical-align: top !important;
}

table.table-cert-details th,
table.table-cert-details td {
    padding: 5px 10px;
}
table.table-cert-details td hr {
    margin: 5px 0px;
    margin-bottom: 5px;
}


table.table-assigned-hosts td {
    padding:.1rem .25rem;
}

a,a:hover {
/*     color: var(--tblr-info); */
}
.badge-circle {
    padding: 15px 10px;
    border-radius: 400px;
    width:45px;
    background: transparent;
    border: 1px solid var(--tblr-info);
    color: var(--tblr-info);
}




.progress,
.progress-stacked {
    line-height: 0px !important;
    margin-bottom: 0px !important;
    --tblr-progress-height: 1px;
    height:1px;
}
.progress-1 {
    position: fixed;
    top: 0px;
    left:0px;
/*     height:2px; */
    width:100%;
    z-index:99;
    background:transparent;
}


.dropdown-settings i {
    margin-right: 10px;
}

/**
 * Cards
 */
.card-alarms {
/* 	margin: 20px; */
  background: rgb(31, 41, 55);
}


.modal-backdrop.show {
    opacity: 85%;
}
.modal-content {
    margin-top:200px;
    border:1px solid rgba(0,0,0,0.4);
    overflow:hidden;
}


.tippy-box {
    font-size:11px;
    background: rgb(17, 24, 39);;
    border: 1px solid rgba(255,255,255,0.7);
    max-width: 1000px !important;
}
.tippy-box hr {
  margin: 0.5rem 0rem !important;
}

/*

.dropdown-menu,
.dropdown-menu-arrow:before {
  -webkit-box-shadow: 0 0 3px var(--litepicker-container-months-box-shadow-color);
  box-shadow: 0 0 3px var(--litepicker-container-months-box-shadow-color);
}
 */


table.table-ike-card th {
    width:220px;
}
table.table-ike-card th,
table.table-ike-card td {
    padding: .4rem .5rem;
    border-bottom-width: 0px;
}

table.table-ike-card tr.border-bottom th,
table.table-ike-card tr.border-bottom td {
    border-bottom: 1px solid rgba(72, 110, 149, 0.1) !important;
}
table.table-ike-card td.text-secondary {
    font-size:11px;
}



.card-header svg {
    margin-right: 10px;
    margin-left:3px;
}




@media (max-width: 1200px) {
    table.table-ike-card td.text-secondary {
        display: none;
    }
}





.circle {
  position: relative;
  height: 60px;
  width: 60px;
  background: var(--tblr-cyan);
  border: 1px solid var(--tblr-cyan);
  border-color: #ccc;

  border-radius: 100px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 22px;
  padding-top: 15px;
  color: white;


color: color-mix(in srgb,var(--tblr-cyan) calc(var(--tblr-text-opacity,1) * 100%),transparent)!important;
background-color: color-mix(in srgb,var(--tblr-cyan-lt) calc(var(--tblr-bg-opacity,1) * 100%),transparent)!important;
border-color: color-mix(in srgb,var(--tblr-cyan-lt) calc(var(--tblr-bg-opacity,1) * 100%),transparent)!important;

}
.circle-text {
  font-size: 12px;
}
.circle-expire {
  background: #DC5654 !important;
  border-color: #a94442 !important;
  cursor: pointer;

    color: color-mix(in srgb,var(--tblr-red) calc(var(--tblr-text-opacity,1) * 100%),transparent)!important;
    background-color: color-mix(in srgb,var(--tblr-red-lt) calc(var(--tblr-bg-opacity,1) * 100%),transparent)!important;

}
.circle-expire.circle-expire-soon {
  color: rgb(255, 193, 7) !important;
  background: #E7FD8656 !important;
  border: 1px solid var(--tblr-orange) !important;
  color: rgb(255, 193, 7) !important;

    color: color-mix(in srgb,var(--tblr-orange) calc(var(--tblr-text-opacity,1) * 100%),transparent)!important;
    background-color: color-mix(in srgb,var(--tblr-orange-lt) calc(var(--tblr-bg-opacity,1) * 100%),transparent)!important;

}
.circle.circle-card {
  height: 40px;
  width: 40px;
  padding-top: 8px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  border-color: #ccc;
}
.circle:hover {
  border-color: #68727C
}






.pagination-info {
    color: var(--tblr-muted);
    padding: 5px;
    font-size: 11px;
}
.search {
    float:right !important;
}





.bootstrap-table .fixed-table-container .fixed-table-body {
    overflow: visible;
}